* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
}
.header {
    padding: 100px 200px 100px 200px;
    font-size: 60px;
    text-align: center;
    -webkit-text-stroke: 4px rgb(2, 43, 4);
    background-image: url('images/teampic.jpg');
    background-position: center;
    color: white;
}

h2 {
    margin-left: 20px;
    font-size: 30px;
}

table {
    border-collapse: collapse; 
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black; 
    padding: 8px;             
    text-align: center;
}

th {
    background-color: rgba(2, 43, 4, 0.575);
}

td {
    background-color: rgba(2, 43, 4, 0.247);   
}

.tournaments {
    background-color: white;
    margin-bottom: 40px;
}

.tournaments ul {
    list-style-type: none; 
    padding-left: 0;
    margin-left: 20px;
}

.tournaments li {
    padding: 8px 12px;
    background-color: rgba(2, 43, 4, 0.287);
    margin-bottom: 6px;
    margin-right: 20px;
    border-radius: 4px;
}

.tournaments li:hover {
    background-color: rgba(2, 43, 4, 0.527);
}

.navbar {
    display: flex;
    background-color: rgb(2, 43, 4);
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.coaches {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.coach-box {
    border: 3px solid rgb(2, 43, 4);
    border-radius: 10px;
    padding: 20px;
    width: 345px;
    text-align: center;
    background-color: rgba(216, 221, 164, 0.291);
    margin-bottom: 20px;
}

.coach-box img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid rgb(2, 43, 4);
}

.coach-box h3 {
    font-size: 24px;
    color: rgb(2, 43, 4);
    margin-bottom: 20px;
}

.coach-box p {
    font-size: 16px;
    color: #444;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 25%;
    background-color: #f1f1f1;
    padding: 20px;
}

.side ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side li {
    background-color: rgba(7, 76, 51, 0.915);
    color: white;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.main {
    flex: 75%;
    background-color: white;
    padding: 20px;
}


.footer {
    padding: 10px;
    text-align: center;
    background: #0d581d5d;
}

@media screen and (max-width: 700px) { 
    .row, .navbar { 
        flex-direction: 
        column; 
    } 
    .coaches {
        flex-direction: column;
        align-items: center;
    }

    .coach-box {
        width: 80%;
    }
}